<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid ms-auto">
        <NavLink class="nav-link" href="Timeline">Resume</NavLink>
        <NavLink class="nav-link" href="Projects">Projects</NavLink>
        <NavLink class="nav-link" href="AboutMe">About Me</NavLink>"
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
