@page "/"
@layout NullLayout

<PageTitle>John Muraski's' Resume</PageTitle>

<div class="heroHeader">
    <div>
        <h1 class="head">I'm John Muraski</h1>
        <h2 class="subHead">Software Engineer | Leader | Automation Specialist | Data Analyst | Cloud Computing | Writer</h2>
    </div>
    <div>
        <p>Hello, I'm John Muraski and I am a Software Engineer from the Twin Cities area of Minnesota and I am here because of three things:</p>
        <ul>
            <li>I love to build things</li>
            <li>I love to code</li>
            <li>I love to solve problems</li>
        </ul>
        <p>Currently, I work on automating manufacturing data and processes by building out Industrial Internet of Things services in order to allow the factory to run faster and more efficiently. I am always open to helping solve more problems, and if you would like to learn more about me, please press one of the buttons below and see what I am about!</p>
        <p>Most days, I hate working with CS. it can be so, so finic</p>
    </div>
    <div class="heroButtons">
        <button>
            <a asp-area="" asp-page="Timeline">Resume</a>
        </button>
        <button>
            <a asp-area="" asp-page="Projects">Projects</a>
        </button>
        <button>
            <a asp-area="" asp-page="AboutMe">About Me</a>
        </button>
    </div>
</div>

