@page "/Timeline"
@inject HttpClient Http

<h3>Timeline</h3>

@foreach(var job in jobs)
{
    <JobSummary Job=@job />
}

@code {
    private List<Job>? jobs = new List<Job>();

    protected override async Task OnInitializedAsync()
    {
        var filePath = "/Data/JobHistory.json";
        try
        {
            var json = System.IO.File.ReadAllText(filePath);
            jobs = JsonConvert.DeserializeObject<List<Job>>(json);
        }
        catch(Exception ex)
        {
            
        }

    }

}
