@page "/Timeline"
@inject HttpClient Http

<h3>Timeline</h3>

@if (errorMessage != null)
{
    <ErrorMessage id="error-notification" message=@errorMessage />
}

@if(jobs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var job in jobs)
    {
        <JobSummary Job=@job />
    }

}


@code {
    private List<Job>? jobs = new List<Job>();
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        var filePath = "../Data/JobHistory.json";
        try
        {
            var json = System.IO.File.ReadAllText(filePath);
            jobs = JsonConvert.DeserializeObject<List<Job>>(json);
        }
        catch(Exception ex)
        {
            errorMessage = ex.ToString();
        }

    }

    public void Dispose()
    {
        errorMessage = null;
    }

}
