@page "/Timeline"
@inject HttpClient Http

<h3>Timeline</h3>

@if (errorMessage != null)
{
    <ErrorMessage id="error-notification" message=@errorMessage />
}

<div class="resumeContainer">
    <div class="timeline">
        @if (jobs == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var job in jobs)
            {
                <JobSummary Job=@job />
            }
        }
    </div>
    <div class="jobDetails">
    </div>
</div>


@code {
    private List<Job>? jobs = new List<Job>();
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        var filePath = "../Data/JobHistory.json";
        try
        {
           jobs = await Http.GetFromJsonAsync<List<Job>>(filePath);
        }
        catch(Exception ex)
        {
            errorMessage = ex.ToString();
        }

    }

    public void Dispose()
    {
        errorMessage = null;
    }

}
